.tombol-start{
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.title{
    -fx-text-fill: #fefffd;
    -fx-font-size: 110px;
    -fx-rotate: -8;
    -fx-font-weight: bold;
}

.title-Y{
    -fx-text-fill: #fefffd;
    -fx-font-size: 150px;
    -fx-rotate: 10;
    -fx-font-weight: bold;
}


.kata-menu{
    -fx-font-weight: bold;
    -fx-text-fill: #fefffd;
    -fx-font-size: 50px;
}

.easy-menu{
    -fx-font-weight: bold;
    -fx-text-fill: #2a6553;
    -fx-font-size: 50px;
    -fx-effect: dropshadow(three-pass-box, white, 12, 0, 0.5, 0.5);
    -fx-font-style: italic;
}

.medium-menu{
    -fx-font-weight: bold;
    -fx-text-fill: #2a6553;
    -fx-font-size: 45px;
    -fx-effect: dropshadow(three-pass-box, white, 12, 0, 0.5, 0.5);
    -fx-font-style: italic;
}